body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
#showcase {
  background-image: linear-gradient(rgb(0, 0, 80), rgba(12, 10, 10, 0)),url(../images/shams.jpg);
  background-size: cover;
  height: 40rem;
  text-align: center;
  color: white;
}
.container h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #0052ab;
}
.nav-row {
  margin-right: 0px;
}
.showcase-content {
  margin-top: 120px;
  line-height: 30px;
}
.show-row {
  margin-right: 0px;
}
#about-content i {
  font-size: 30px;
}
.facts-content h3 {
  font-size: 50px;
}
.facts-content i {
  font-size: 40px;
  margin-bottom: 30px;
}
.skills-content progress {
  width: 100%;
  height: 15%;
}
#portfolio-content ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
#portfolio-content ul a {
  margin: 10px;
}
.single-works {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 15px #000;
}
.single-works img {
  width: 100%;
  height: 100%;
}
.single-works .title {
  font-size: 25px;
  font: 700;
  color: tomato;
  margin: 0 0 15px 0;
}
.overlay-text .post {
  display: block;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}
.single-works .overlay-text {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  background-color: rgb(0, 0, 0, 0, 0.6);
  text-align: center;
  padding-top: 20%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease 0s;
  background-color: rgb(8 8 8 / 66%);
}
.single-works .overlay-text::before {
  border-right: 1px solid rgb(255, 255, 255, 0.9);
  border-left: 1px solid rgb(255, 255, 255, 0.9);
  left: 30px;
  right: 30px;
}
.single-works .overlay-text::after {
  border-top: 1px solid rgb(255, 255, 255, 0.9);
  border-bottom: 1px solid rgb(255, 255, 255, 0.9);
  top: 30px;
  bottom: 30px;
}
.single-works .overlay-text::before,
.single-works .overlay-text::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 1;
  transform: scale(1.5);
  transition: all 0.6s ease 0.2s;
}
.single-works:hover {
  transform: translateY(-8px);
}
.single-works:hover .overlay-text {
  opacity: 1;
}
.single-works:hover .overlay-text::before,
.single-works:hover .overlay-text::after {
  opacity: 1;
}
.card {
  box-shadow: 0 10px 20px rgba(1, 1, 1, 1);
}
.journal-content {
  border-spacing: 20px;
}
#contact-content i {
  font-size: 25px;
  margin-bottom: 10px;
}
footer {
  background-color: #0052ab;
}
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
}
.icons i {
  padding: 10px;
}
footer i:hover {
  cursor: pointer;
  color: lightseagreen;
}
